.text-center {
    text-align: center;
}

.row-md-4 {
    width: 30%;
    border: 1px grey solid;
    display: inline-block;
    text-align: inherit;
}

.navbar {
    background-color: grey;
}

.avatar {
    max-width: 100%;
}

li {
    list-style: none;
}
